<div id="hotel-info-suitcase">
    <div id="hotel-info-top">
      <a href="http://www.carletonhotel.com" target="_blank" id="carleton-hotel">The Carleton Hotel</a>
      <a href="http://g.co/maps/wabgu" target="_blank" id="hotel-address">1110 pleasant street || oak park, illinois || 708-848-5000</a>
    </div>
    <div id="hotel-info-middle">
<p>standard room<span>$138</span></p>
<p>king room<span>$158</span></p>
<p>double/double room<span>$158</span></p>
<p>double/double suite<span>$188</span></p>
    </div>
    <div id="hotel-info-bottom">
      <div id="must-mention">must mention <strong>group number 1741</strong> when making your reservation.
<br />special rates will only be available until <strong>september 7, 2012.</strong></div>
    </div>
</div>
